@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.menu-active{
  font-weight: 600;
  border-bottom: 1px solid rgb(46, 46, 178);
}
.banner {
  padding: 150px 0;
  width: 100%;
}

.banner_content h1 {
  font-size: 55px;
  font-weight: 600;
}
.banner_content h1 span {
  color: #4648c8;
}
.banner_content p {
  padding: 20px 0;
  font-size: 22px;
}
.banner_content a {
  background-color: #4648c8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}
.banner_img img {
  width: 100%;
}